<div class="modal fade" id="myModal<%= quote.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send a Tweet</h4>
      </div>
      <div class="modal-body">
        <p id="notice"><%= notice %></p>
        <div id="alert-placeholder"></div>
        <% if !current_user.nil? && !current_user.provider.nil? && current_user.provider.include?("twitter") %>
            <%= render partial: 'tweets/form', locals: {tweet: tweet, quote: quote, id: "myModal#{quote.id}"} %>
        <% else %>
            <p>You must log in to send a tweet.</p>
            <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

