<% @quotes.each do |quote| %>
    <div class="quote row">
        <div class="col-xs-2 vote vote-<%=quote.id%>">
            <% if user_signed_in? %>
                <%= render partial: "votes/quote_vote", locals: {quote: quote, current_user_id: current_user.id} %>
            <% else %>
                <a href="#"><span class="fa fa-2x fa-chevron-up" aria-hidden="true" style="color: gray"></span></a>
                <h4 class="vote-count"><%= Vote.quote_count(quote.id) %> </h4>
                <a href="#"><span class="fa fa-2x fa-chevron-down" aria-hidden="true" style="color: gray"></span></a>
            <% end %>
        </div>
        <div class="col-xs-8 quote-text panel panel-default center">
            <div class="panel-body"><%= quote.content %></div>
        </div>
        <div class="col-xs-2 center quote-buttons">
            <div class="btn-group ">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

<% end %>
<!--
    <div class="quote row">
        <div class="col-xs-1 quote-favorite panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 quote-comments panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
-->
