<% @search_quotes.each do |quote| %>
  <div class="quote row">
      <div class="col-xs-2 vote">
        <a href="#"><span class="fa fa-2x fa-chevron-up" aria-hidden="true"></span></a>
        <h4 class="vote-count">1337</h4>
        <a href="#"><span class="fa fa-2x fa-chevron-down" aria-hidden="true"></span></a>
      </div>
      <div class="col-xs-8 quote-text panel panel-default center">
        <div class="panel-body"><%= quote.content %> - <%= quote.author_name %></div>
      </div>
      <div class="col-xs-2 center quote-buttons">
        <div class="btn-group ">
          <button type="button" class="btn btn-default">
            <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
          </button>
        </div>
      </div>
  </div>
<% end %>

