  <%= form_tag tweets_create_path, method: :post, multipart: true, :html => {:name => "tweet-form"} %>
      <p>Maximum 140 Characters</p>
      <%= text_field_tag "message", params[:message], required: true, :pattern => ".{0,140}", size: 140, maxlength: 140 %>
      <%= submit_tag "Send Tweet" %>