<% authors.each_with_index do |author, index| %>
    <tr>
        <td><%= index+1 %></td>
        <td><%= link_to author.author_name.titleize, author %></td>
        <td><%= author.num_quotes %></td>
    </tr>
<% end %>
