<p id="notice"><%= notice %></p>
<h1>"Who have said things?"</h1>
<hr>

<table class="table table-bordered" id="author-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Quotes</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "author", locals: {authors: @authors} %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
    <%= render 'authors/form', :object => @author %>
<% end %>
<!-- <%= link_to 'New Author', new_author_path %> -->
