<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="input-group">
  <span class="input-group-addon" id="search-label">Search</span>
  <input type="text" class="form-control" placeholder="Query" aria-describedby="search-label">
  <span class="input-group-btn">
      <button class="btn btn-default" type="button">
          <span class="fa fa-search" aria-hidden="true"></span>
      </button>
  </span>
</div>

