<div class="row">
  <div class="page-header">
      <h1>Some kind of cool header here <small>ideas pls</small></h1>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="search-label">Search</span>
    <input type="text" class="form-control" placeholder="Query" aria-describedby="search-label">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </span>
  </div>
  <br>
  <div class="nav">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Trending</a></li>
        <li role="presentation"><a href="#">All Time</a></li>
        <li role="presentation"><a href="#">Random</a></li>
        <li role="presentation"><a href="#">Categories</a></li>
      </ul>
  </div>
</div>
<br>
<div class="row" id="quotes">
    <div class="quote row">
        <div class="col-xs-2 vote">
            <a href="#"><span class="fa fa-2x fa-chevron-up" aria-hidden="true"></span></a>
            <h4 class="vote-count">1337</h4>
            <a href="#"><span class="fa fa-2x fa-chevron-down" aria-hidden="true"></span></a>
        </div>
        <div class="col-xs-8 quote-text panel panel-default center">
            <div class="panel-body"> this is a quote blah blah blah </div>
        </div>
        <div class="col-xs-2 center quote-buttons">
            <div class="btn-group ">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <!--
        <div class="col-xs-1 quote-favorite panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 quote-comments panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        -->
    </div>
    <div class="quote row">
        <div class="col-xs-2 vote">
            <a href="#"><span class="fa fa-2x fa-chevron-up" aria-hidden="true"></span></a>
            <h4 class="vote-count">1337</h4>
            <a href="#"><span class="fa fa-2x fa-chevron-down" aria-hidden="true"></span></a>
        </div>
        <div class="col-xs-8 quote-text panel panel-default center">
            <div class="panel-body"> this is a quote blah blah blah </div>
        </div>
        <div class="col-xs-2 center quote-buttons">
            <div class="btn-group ">
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <!--
        <div class="col-xs-1 quote-favorite panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-heart-o" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 quote-comments panel panel-default">
            <div class="panel-body">
                <a href="#">
                    <span class="fa fa-lg fa-comment" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        -->
    </div>

</div>
