<%= form_tag('/search', :method => "get", id: "search-form",
             :class => "form-inline", :name => "search-form", :onsubmit => "return (validate());") do %>
    <div class="input-group">
      <span class="input-group-addon searchbar" id="search-label">Search</span>

      <div class="form-group searchbar-text" name="search-bar">
        <%= text_field_tag :q, params[:q],
                           placeholder: "Search Quotes or Authors",
                           class: "form-control searchbar-text" %>
      </div>
      <span class="input-group-btn searchbar">
          <button type="submit" class="btn btn-default">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
      </span>
    </div>
<% end %>

<%= javascript_include_tag "search_typeahead" %>
<%= stylesheet_link_tag "type_ahead" %>
