// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
    padding: 10px;
}

.comment-hide {
    display: none;
}

.comment-hide-show {
    display: block;
}
