<p id="notice"><%= notice %></p>

<h1>Which Categories?</h1>
<hr>

<table class="table table-bordered" id="category-table">
  <thead>
    <th>Rank</th>
    <th>Name</th>
    <th>Quotes</th>
  </thead>
  <tbody>
    <%= render partial: "category", locals: {categories: @sorted} %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
    <%= render 'categories/form', :object => @category %>
<% end %>
